Repository brightshift/brightshift-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: format:write, lint:fix, eslint

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": [
        "format:write",
        "lint:fix",
        "eslint"
    ],
    "*.{json,md,yml}": [
        "format:write"
    ]
}

Revert "chore : added pre-commit for linting, formatting #4 (#6)"
  .github/workflows/build.yaml
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  .npmrc
  .nvmrc
  app/page.tsx
  commitlint.config.ts
  package.json
  tsconfig.json
  tsconfig.tsbuildinfo
  yarn.lock
Due: format:write, lint:fix, eslint

fix: husky commit check
  .husky/commit-msg
  .prettierignore
  commitlint.config.ts
Due: format:write, lint:fix, eslint

add: crated hero section
  .vscode/settings.json
  app/_Home/Hero.tsx
  app/_Home/index.ts
  app/layout.tsx
  app/test/page.tsx
  build/favicon.ico
  styles/globals.css
  tailwind.config.js
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

feat: navbar complete with responsive, only menu left to create
  build/favicon.ico
  components/hamMenu.tsx
  components/main-nav.tsx
  components/site-header.tsx
Due: format:write, lint:fix, eslint

feat: navbar complete with responsive, only menu left to create
  components/hamMenu.tsx
  components/site-header.tsx
Due: format:write, lint:fix, eslint

feat: added onboarding and fixed hero styles
  .vscode/settings.json
  app/_Home/Hero.tsx
  app/test/page.tsx
  components/onBoarding/BoardingFloatingBar.tsx
  components/onBoarding/index.tsx
  components/onBoarding/steps/Onboarding_Step2.tsx
  components/onBoarding/steps/Onboarding_Step3.tsx
  components/onBoarding/steps/Welcome_Step.tsx
  components/onBoarding/steps/index.ts
  styles/globals.css
  tailwind.config.js
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

fix: onboarding color issue
  app/_Home/Hero.tsx
  components/onBoarding/BoardingFloatingBar.tsx
  components/onBoarding/index.tsx
  components/onBoarding/steps/Onboarding_Step2.tsx
  components/onBoarding/steps/Onboarding_Step3.tsx
  components/onBoarding/steps/Welcome_Step.tsx
  styles/globals.css
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

fix: navbar toggle issue and rebuild the navbar
  .gitignore
  app/layout.tsx
  assets/roudEffect.svg
  components/hamMenu.tsx
  components/onBoarding/steps/Onboarding_Step2.tsx
  components/onBoarding/steps/Onboarding_Step3.tsx
  components/onBoarding/steps/Welcome_Step.tsx
  components/siteNave.tsx
  hooks/index.ts
  hooks/useDebounce.tsx
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

feat: created OnBoarding last components
  app/layout.tsx
  assets/facebook-logo.svg
  assets/github-logo.svg
  assets/youtube-logo.svg
  components/aceternity/Spotlight.tsx
  components/aceternity/index.ts
  components/onBoarding/index.tsx
  components/onBoarding/steps/Onboarding_Step4.tsx
  components/onBoarding/steps/index.ts
  components/siteNave.tsx
  package.json
  styles/globals.css
  tailwind.config.js
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

style: formatted
  build/favicon.ico
  components/onBoarding/index.tsx
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

style: change the homepage with the required one, make changed in the nav, and onboarding
  app/layout.tsx
  app/page.tsx
  build/favicon.ico
  components/onBoarding/BoardingFloatingBar.tsx
  components/onBoarding/steps/Onboarding_Step2.tsx
  components/onBoarding/steps/Welcome_Step.tsx
  components/site-header.tsx
  components/siteNave.tsx
  styles/globals.css
  yarn.lock
Due: format:write, lint:fix, eslint

fix: prettier issue
  app/page.tsx
  build/favicon.ico
  components/onBoarding/BoardingFloatingBar.tsx
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

style: make minor changes in onboaring
  build/favicon.ico
  components/onBoarding/BoardingFloatingBar.tsx
  components/onBoarding/steps/Onboarding_Step3.tsx
  components/onBoarding/steps/Onboarding_Step4.tsx
  components/siteNave.tsx
  styles/globals.css
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

style: make minor changes in onboaring
  build/favicon.ico
  components/onBoarding/steps/Onboarding_Step4.tsx
  components/siteNave.tsx
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

fix: #9 dark mode color issues
  app/_Home/Hero.tsx
  app/layout.tsx
  build/favicon.ico
  components/main-nav.tsx
  components/siteNave.tsx
Due: format:write, lint:fix, eslint

Create nextjs.yml
  .github/workflows/nextjs.yml
Due: format:write

fix: github pages CI
  .github/workflows/preview.yml
Due: format:write

fix: theme issue
  build/favicon.ico
  tsconfig.tsbuildinfo
Due: none

fix: prettier formatting
  build/favicon.ico
Due: none

style: add nav height and change site bg color
  app/_Home/Hero.tsx
  app/layout.tsx
  components/siteNave.tsx
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

style: add nav height and change site bg color
  build/favicon.ico
  tsconfig.tsbuildinfo
Due: none

style: optimize homepage for lightmode and add button
  app/_Home/Hero.tsx
  app/layout.tsx
  build/favicon.ico
  components/main-nav.tsx
  components/siteNave.tsx
  components/theme-toggle.tsx
  styles/globals.css
Due: format:write, lint:fix, eslint

Update README.md
  README.md
Due: format:write

style: add gif on homepage
  app/_Home/Hero.tsx
  components/main-nav.tsx
  components/siteNave.tsx
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

fix: fixed the gif overlapping the nav
  app/_Home/Hero.tsx
  build/favicon.ico
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

fix: onboarding xl and 2xl responsive issue
  app/layout.tsx
  build/favicon.ico
  components/onBoarding/BoardingFloatingBar.tsx
  components/onBoarding/index.tsx
  components/onBoarding/steps/Onboarding_Step4.tsx
  components/onBoarding/steps/Welcome_Step.tsx
  styles/globals.css
Due: format:write, lint:fix, eslint

style: make navbar like raycast's
  components/siteNave.tsx
  styles/globals.css
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

style: make the bg white and remove black shadow for light mode
  components/siteNave.tsx
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

fix: re-created onboarding floating bar like rycast
  components/onBoarding/BoardingFloatingBar.tsx
  package.json
  styles/globals.css
  yarn.lock
Due: format:write, lint:fix, eslint

style: refactored design of onboarding
  Notes.md
  app/layout.tsx
  app/page.tsx
  assets/svg-gradient/ball-left.svg
  assets/svg-gradient/ball-right.svg
  assets/svg-gradient/bottom-small.svg
  assets/svg-gradient/focus-up.svg
  assets/svg-gradient/right-focus.svg
  components/onBoarding/BoardingFloatingBar.tsx
  components/onBoarding/index.tsx
  components/onBoarding/steps/Onboarding_Step2.tsx
  components/onBoarding/steps/Onboarding_Step3.tsx
  components/onBoarding/steps/Onboarding_Step4.tsx
  components/onBoarding/steps/Welcome_Step.tsx
  components/ui/button.tsx
  styles/globals.css
Due: format:write, lint:fix, eslint

fix: onboarding neon gradient
  Notes.md
  components/Neon/RoundMesh.tsx
  components/Neon/halfRoundMesh.tsx
  components/Neon/index.ts
  components/aceternity/Spotlight.tsx
  components/onBoarding/index.tsx
  components/onBoarding/steps/Onboarding_Step4.tsx
  components/onBoarding/steps/Welcome_Step.tsx
Due: format:write, lint:fix, eslint

fix: formating issue
  build/favicon.ico
  components/Neon/index.ts
  components/aceternity/Spotlight.tsx
  components/onBoarding/index.tsx
  components/onBoarding/steps/Onboarding_Step2.tsx
  components/onBoarding/steps/Onboarding_Step4.tsx
  components/ui/button.tsx
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

merge: pull from onboaring/Y branch
  build/favicon.ico
Due: none

merge: pull from onboaring/Y branch
  build/favicon.ico
  tsconfig.tsbuildinfo
Due: none

style: add border to hero content, change bg color and change the finishing color of bg gradient
  app/_Home/Hero.tsx
  app/layout.tsx
  build/favicon.ico
  components/siteNave.tsx
  styles/globals.css
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

style: add border to hero content, change bg color and change the finishing color of bg gradient
  app/_Home/Hero.tsx
  build/favicon.ico
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

fix: onboarding min size, height width adjust for indicator
  build/favicon.ico
  components/onBoarding/BoardingFloatingBar.tsx
  components/onBoarding/index.tsx
  components/onBoarding/steps/Onboarding_Step4.tsx
  components/onBoarding/steps/Welcome_Step.tsx
  styles/globals.css
Due: format:write, lint:fix, eslint

style: changes in onboarding that was discussed in the meeting
  components/onBoarding/BoardingFloatingBar.tsx
  components/onBoarding/steps/Onboarding_Step2.tsx
  components/onBoarding/steps/Onboarding_Step4.tsx
  styles/globals.css
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

style: changes in onboarding that was discussed in the meeting
  build/favicon.ico
  components/onBoarding/steps/Onboarding_Step4.tsx
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint

feat: add smooth scrolling
  app/layout.tsx
  build/favicon.ico
  tsconfig.tsbuildinfo
Due: format:write, lint:fix, eslint
